@CHARSET "UTF-8";
body{
	 background-color: #FEE8DD; 
}

.middle {
	width:1200px;
	margin:0 auto;		
	min-height:1300px;
	background-color: #fff;
	padding-left:10px;
	padding-right:10px;
}
	
/* 标题 css  */
.title{
	width: 100%;
	height: 56px;
}
.title .t1{
	height: 55px;
	float: left;
	margin-left: 0;
}
.bigSubp {
    display: inline-block;
    height: 30px;
    width:52px;
    margin-top:15px;
    font-weight:500;
    line-height: 30px;
    vertical-align: -4px;
}
sub {
    color: #f60;
    font-size: 22px;
    font-style: italic;
    line-height: 24px;
    margin-left: 10px;
    vertical-align: middle;
}
sup {
    color: #f60;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 20px;
    margin-left: 2px;
    vertical-align: top;
}
.ratingsSide1 {
	width:200px;
	height:55px;
    float: left;
}
.ratings li, .ui_big_ratings li, .ui_big_ratingsGot li, .initRating span {
    background: url("../../images/other/ico_star.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ui_big_ratings, .ui_big_ratingsGot {
    float: left;
    height: 24px;
    padding-left:15px;
    padding-bottom:5px;
    line-height: 24px;
    overflow: hidden;
    width: 130px;
    margin-top:0px;
}
 .ui_big_ratingsGot {
 	margin-top:17px;
 }
.ui_big_ratings li, .ui_big_ratingsGot li {
    background-position: -25px 0;
    cursor: default;
    float: left;
    height: 24px;
    overflow: hidden;
    width: 13px;
}
.ui_big_ratings li.no, .ui_big_ratingsGot li.no {
    background-position: -38px 0;
}
.ui_big_ratings li.on, .ui_big_ratingsGot li.on {
    background-position: -12px 0;
}
.ui_big_ratings li.half, .ui_big_ratingsGot li.half {
    background-position: 1px 0;
}
.description{
	margin-top:5px;
	width: 100%;
	height: 274px;
	border-top:1px solid #EEEEEE;
	/* border: 1px solid yellow; */
}
.description .img{
background-color:#E7E7E7;
	width: 280px;
	height: 234px;
	float: left;
	margin-top:20px;
	/* border: 1px solid purple; */
}
.description .img img{
	padding-top: 13px;
}
.description .content{
	width: 600px;
	height: 234px;
	font-size:14px;
	float: left;
	margin-top:40px;
	margin-left:10px;
}
.description .content .address{
	color: #999999;	
}
.description .content .tel{
	color: #999999;
	margin-top: 10px;
}
.description .content .spe{
	color: #999999;
	margin-top: 10px;
}


/* 选择影片列表 */
.movie_choose_box .even_box {
    height: 160px;
    margin-left: -4px;
    position: relative;
    width: 710px;
}
.movie_choose_box .ui_pic {
	vertical-align: top;
	position: relative;
	top:5px;
}
.movie_choose_box .ui_text {
	margin:0; padding:0;
	margin-left:-40px;
}
.movie_choose_box .even_center {
    height: 160px;
    overflow: hidden;
    position: relative;
    width: 646px;
    margin-left:34px;
    padding:0;
}
.movie_choose_box .even_center ul {
    left: 0;
    position: absolute;
    top: 0;    
    padding:0;
}
.movie_choose_box .even_center li {
    float: left;
    height: 160px;
    margin: 0 4px;
    overflow: hidden;
    position: relative;
    width: 100px;
}
.movie_choose_box .even_center a {
    border: 2px solid #fff8f4;
    border-radius: 3px;
    display: block;
    height: 128px;
    margin: 0;
    padding: 0;
    width: 96px;
}
.movie_choose_box .even_center li a.select, .movie_choose_box .even_center li a:hover {
    border-color: #f90;
}
.movie_choose_box .even_center li em {
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    width: 100px;
}
.movie_choose_box .even_center .moreInfo {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 30px;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 2px;
    text-align: center;
    width: 40px;
}
.movie_choose_box .even_center .moreInfo:hover {
    background: none repeat scroll 0 0 rgba(255, 153, 51, 0.8);
}
.movie_choose_box .even_left, .movie_choose_box .even_right {
    cursor: pointer;
    display: block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 12px;
}
.movie_choose_box .even_left {
    top: 25px;
}
.movie_choose_box .even_right {
    top: 73px;
}
.movie_choose_box .even_box .orientation {
    background: url("../../images/other/arror_cinema.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 30px;
    overflow: hidden;
    width: 12px;
}
.movie_choose_box .even_left .orientation {
    background-position: 0 -40px;
}
.movie_choose_box .even_right .orientation {
    background-position: 0 0;
}
.movie_choose_box .even_left .disable {
    background-position: 0 -119px !important;
}
.movie_choose_box .even_right .disable {
    background-position: 0 -79px !important;
}

	/* 评分部分 */
.modify_alt {
    background-color: #f9f9f9;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 8px 20px;
    width: auto;			    
}
.modify_alt .ui_big_ratings, .ui_big_ratingsGot {
    cursor: pointer;
}
.modify_alt span {
	font-size:16px;
	color:#999;
}
.modify_alt sub {
    float: left;
}
.left {
	float:left;
}			
.modify_alt .myPoint {
	font-size:22px;
	color:#f60;
	font-style: italic;
	font-weight: bold;
	letter-spacing: -1px;
}
.modify_alt .brown {
	font-size:18px;
	font-weight: bold;
	margin-left:10px;			
}
.writeRemark textarea {
	margin-left: -243px;
	margin-top:5px;							
}
.writeRemark a {
	position: relative;
	top:-10px;
}
.ui_loading {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #ddd;
    margin:0;
    text-align: center; cursor: pointer; visibility: visible; opacity: 1;
    margin-top:20px;
    width:870px;
    font-size:14px;
    padding: 6px 0;
}

a {
	text-decoration:none;
}
em {
	font-style:normal;
}
.mod_tabs, .nav_tabs, .content{
	background-color:#fff;
}
.content {
	width:1090px;
	margin:0 auto;
	height:1300px;
}
.content .ui_left {
	width:880px;
	height:800px;
}
.detail_info {
	width:1080px;
	background-color:#F2F2F2;
	padding-left:10px;
	padding-top:10px;
}

/* 电影详细信息头部 */
.detail_head_name {
    padding: 0 250px 10px 0;
    position: relative;
}
.detail_head_name h1 {
    font: 30px/45px "微软雅黑","宋体";
	display:inline;
	width:200px;
}
.detail_head_name h2 {
    color: #999;
    display: block;
    font-size: 16px;
    font-weight: normal;
}
.ui_hide, .none {
    display: none !important;
}
.clear:after, .button:after, .ui_layout:after, .abeam:after, .list li:after, .tales60:after, .tales100:after, .selectOptions:after, .inner:after, .nav_tabs:after {
    clear: both;
    content: "content";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}
a.ad {
    background: url(../../images/other/cinemaico.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #666;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 27px;
}
a.ad:hover {
    border: 1px solid #fbc099;
    box-shadow: 0 0 5px #fbc099;
    text-decoration: none;
}
a.cou {
    background-position: 6px -177px;
    padding: 0 7px 0 30px;
}
a.ad {
    background-position: 6px -205px;
    padding: 0 7px 0 30px;
	margin-left: 10px;
}
a.se {
    background-position: 6px -325px;
    color: #c30;
}

/* 电影详细信息 */
.detail_head_info {
	width:1090px;	
	height: 300px;	
}
.detail_head_info .ui_pic {
	float:left;
	width:210px;	
}
.detail_head_info .ui_text {
	width:610px;
	float:left;
	font-size:13px;
	padding-top:10px;
	margin-left:20px;
}
.detail_head_info .ui_text p {
	width:600px;
	max-width:610px;
	overflow:hidden;
	height:16px;
}
.detail_head_info .ui_text p span.left {
	color:#999;
}


/* 排片购票、剧情介绍、影片选项卡 */
.tab_content {
	margin-top:10px;
	margin-left:10px;
	background-color:#fff;	
}
.mod_tabs a {
	color:#000;
}

.tab3 .mod_hd {
	width:100%;
	height:34px; 
	line-height:34px;
	padding-bottom:8px;
	border-bottom:2px solid #666;
	margin-top:30px;
}
.tab3 .mod_hd a {
	padding:1px 15px;
	color:#fff;
	border-radius:3px;
	background-color:#EB6120;
	float:right;
	font-size:14px;	
}
.tab3 .mod_hd a:hover {
	background-color:#FE7600;
}
.mod_tabs {
	margin-left:10px;
}
.mod_tabs ul {
	border-bottom:2px solid #F33;
	height:28px;
	padding-bottom:10px;
}
.mod_tabs ul li {
	list-style-type:none;
	display:inline;
	font-size:17px;
	font-weight:bold;
	background-color:#ccc;
	padding:10px 20px;
	position:relative;
	left:-33px;
	margin-left:-7px;
}
.mod_tabs ul li.selected {
	background-color:#f66f00;
}
.mod_tabs ul li.selected a {
	color:#fff;
}
#hotCin_content {
	padding-bottom: 20px;
}
.tab3 #hotCin_content li {
	list-style-type:none;
	padding-top:0px;
	width:850px;
	height:173px;
	margin-left:-37px;
}
.tab3 #hotCin_content li .ui_media {
	height:173px;
}
.tab3 div.ui_pic {
	width:75px;
	height:72px;
	padding:3px 5px;
	float:left;
}
.tab3 div.ui_pic a {
	display:block;
}
.tab3 div.ui_text {
	width:765px;
	height:171px;
	float:right;
	margin-top:-5px;
}
.tab3 div.ui_text .yTitle {
	width:763px;
	height:30px;
	line-height: 30px;
	background: none repeat scroll 0% 0% #F8F8F8;
	padding: 0px 10px;
	margin-top:-1px;
	font-size:0.9em;
}
.tab3 div.ui_text a {
	color:#C30;
}
.tab3 div.ui_text a:hover {
	color:#F60;
	text-decoration:underline;
	margin-left:60px;
}
.tab3 div.ui_text .remarkContent{
	font-size:0.8em;
	width:769px;
	padding-left:10px;
	height:120px;	
	line-height:20px;
}
.remarkContent a.detailed {
	position:relative;
	top:-12px;
}
.tab3 div.ui_text div.footer {
	height:16px;
	background-color:#fff;
	font-size:0.8em;
	position:relative;
	left:8px;
	top:-100px;
	padding-top:15px;
}
.tab3 div.ui_text div.footer a{
	background: url(../../images/other/ico_pub.gif) no-repeat scroll 0px 0px #fff;
    padding-left: 19px;
	background-position: 0px -238px;
	float:right;
}

/* 购票排片 */
.ticket_choose {
    padding: 10px 10px;
}
.ticket_choose .ui_pic {
    color: #999;
    line-height: 35px;
    margin-right: 0;
	display:inline;
	width:120px;
	position:relative;
	top:-20px;
	font-size:0.9em;
}
.ticket_choose .ui_text {
	display:inline-block;
	width:700px;
	margin-left:-5px;
}
.ticket_choose a {
    border-radius: 3px;
    color: #333;
    display: inline-block;
    float: left;
    font-family: verdana,"微软雅黑";
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin: 2px 10px 2px 0;
    overflow: hidden;
    padding: 0 10px;
    text-decoration: none !important;
    word-break: keep-all;
}
.ticket_choose a.select, .ticket_choose a:hover {
    background-color: #f88630;
    border-color: #f88630;
    color: #fff;
}
.ticket_choose_day a {
    border: 1px solid #ffd3bd;
    height: 48px;
    margin: 0 10px 10px 0;
    min-width: 75px;
    padding: 3px 10px;
    text-align: center;
}
.ticket_choose_day a span {
    display: block;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}
.ticket_choose_day a em {
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.chooseOpi_caption a {
	color:#c30;
}
.chooseOpi_caption a:hover {
	color:#f60;
	text-decoration:underline;
}
.redBt {
	text-decoration:none;
	color:#fff;
	height:20px;
	padding: 6px 12px;
	border-radius:3px;
	background-color:#EB6120;
}
.redBt:hover {
	background-color:#FE7600;
}
.opiTime b {
	font-size:18px;
	display:block;
}
.opiTime em {
	font-size:0.85em;
	color:#999;
}
.opiPrice span.nowPrice {
	color:#f30;
	font-size:20px;
}
.opiPrice span.originalPrice {
	font-size:15px;
	text-decoration: line-through;
	color:#999;
}
.chooseScreenings {
	overflow: hidden;
	position:relative;	
	width:832px;
	height:420px;
}
.chooseScreenings table {
	width:800px;
	height:420px;
	background-color:#fff;
	border-collapse:collapse;
	position:relative;
	overflow: hidden;
}
.chooseScreenings table thead {
	z-index:300;
	position: absolute;
	top:0;
}
.chooseScreenings table tbody {
	min-width:800px;
	position: absolute;
	top:60px;
	z-index:0;
}
.chooseScreenings table tr{
	min-width:800px;	
	height:60px;
	border-bottom:1px solid #ccc;
}
.chooseScreenings table td {
	padding-left:20px;
	min-width:150px;
}

/* 滚动条 */
.chooseScreenings .scroller {
	width:12px;
	height:360px;
	background-color: #ddd;
	position: absolute;
	right:0;
	top:60px;
}
.chooseScreenings .handlerC {
	width:12px;
	height:120px;
	background-color: #999;
	border-radius:6px;
	cursor:pointer;
	position: absolute;
	top:0px;
}